.ps-button {
    padding: 8px 12px;
    height: 32px;
    border-radius: 16px;
    line-height: 16px;
    font-size: 14px;
    background-color: #0099cc;
    color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.ps-button:hover {
    background-color: #0088bb;
}
.ps-button:active {
    background-color: #0066aa;
}
