.step {
    background: white;
    padding: 24px;
    border-radius: 12px;
    color: #002e3d;
    border: 1px solid #e7eaee;
    position: relative;
}

.step__media-item {
    height: 300px;
    width: 100%;
    /* overflow: hidden; */
    margin-bottom: 10px;
}
.step__media-item img {
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;
}

.step__more-info-button {
    position: absolute;
    top: 10px;
    right: 10px;
}
