.trip-header {
    position: relative;
    overflow: hidden;
}
.trip-header__bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #002e3d;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
}

.trip-header__content {
    position: relative;
    z-index: 2;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    text-align: center;
    color: white;
}
